Sphinx==1.8.5
sphinx_rtd_theme==0.4.3
libenchant-dev==1.6.0
pyEnchant==1.6.6 
sphinx-tabs==1.1.11
sphinxcontrib-spelling==2.1.2
imagesize==1.1.0
Pillow==4.3.0
recommonmark==0.6.0
sphinx-markdown-tables==0.0.9
sphinx-git==11.0.0
sphinxcontrib-swaggerdoc==0.1.7
