/* Change side navigation bg color to pulsesecure image */
.wy-side-nav-search, .wy-nav-top {
   background-color: #4ea91b;
   background-image: url("psdemo.png");
   background-size: 50px, 50px;
   background-repeat: no-repeat;
   background-position: right top;
}

/*
   background-color: #a6c796;
   background-image: url("psdemo.png"), url("psdemobk.png");
   background-position: left top;
   background-repeat: no-repeat, no-repeat;
   background-size: contain , contain;
*/

.rst-versions {
   border-top:solid 10px black;
}
